 <!-- Navigation -->
    <nav class="navbar navbar-container navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">BAYAZİT</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                      {{#if displaylink}}
                     <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    {{#if displaylink}}
                     <li class="nav-item">
                        <a class="nav-link" href="/posts/new">ADDPOST</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    {{#unless displaylink}}
                     <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                     {{/unless}}
                      {{#if displaylink}}
                     <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Login Out</output></a>
                    </li>
                     {{/if}}
                </ul>
            </div>
        </div>
    </nav>