<aside id="aside" class="col-md-4">
                    
                    <div class="widget">
						<div class="widget-search">
							<input class="search-input form-control" type="text" placeholder="Search">
							<button class="search-btn" type="button"><i class="fas fa-search"></i></button>
						</div>
					</div>
					<!-- /Search -->
                    
                    
					<!-- Category -->
					<div class="widget">
						<h3 class="mb-3">Categories</h3>
						<div class="widget-category">
							<a href="#">Web Design<span>(7)</span></a>
							<a href="#">Marketing<span>(142)</span></a>
							<a href="#">Web Development<span>(74)</span></a>
							<a href="#">Branding<span>(60)</span></a>
							<a href="#">Photography<span>(5)</span></a>
						</div>
					</div>
					<!-- /Category -->

					<!-- Posts sidebar -->
					<div class="widget">
						<h3 class="mb-3">Latest Posts</h3>
                            {{#each (limit posts 3)}}
						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<img class="img-fluid" src="{{post_image}}" alt="">{{title}}
							</a>
							<ul class="blog-meta">
								<li>{{generateDate date 'MMM DD YYYY'}}</li>
							</ul>
						</div>
						<!-- /single post -->
                                {{/each}}
					</div>
					<!-- /Posts sidebar -->

				</aside>
				